node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.github
.husky
.vscode

biome.json

.env
.env.local
.env.example
.env.production
generateKey.js

README.md
commands.md
LICENSE

coverage*
tests
