# Requerido
DISCORD_TOKEN=
MONGODB_URI=
ENCRYPTION_KEY=
IV=

# Características adicionales adicionales

## Sistemas basados en Gelbooru
GELBOORU_APIKEY=
GELBOORU_USERID=

## Conversor de enlaces de pixiv
PIXIV_TOKEN=

## Comando "/imgur"
IMGUR_CLIENT_ID=

## Comando "/preguntar" y funciones de IA
GROQ_KEY=
