# ===============================================================================
# Configuración base (requerida)
# ===============================================================================

DISCORD_TOKEN=
ENCRYPTION_KEY=
IV=


# ===============================================================================
# Configuración de base de datos (requerida)
# ===============================================================================

# Debes proveer datos para UNO de los siguientes métodos de conexión:

# Método A: Si usas el perfil "prod":
# URL a base de datos externa, con MongoDB Atlas (recomendado)
MONGODB_URI=

# Método B: Si usas el perfil "prod-local" (IMPORTANTE: NO EJECUTAR SIN CARGAR)
# Credenciales de MongoDB locales (Docker / self-hosting)
MONGODB_USERNAME=
MONGODB_PASSWORD=


# ===============================================================================
# Configuración de características opcionales
# ===============================================================================

## Sistemas basados en Gelbooru (también requerido para "/imgur")
GELBOORU_APIKEY=
GELBOORU_USERID=

## Comando "/imgur"
IMGUR_CLIENT_ID=

## Comando "/preguntar" y funciones de IA
GROQ_KEY=
