#NodeJS
node_modules

#DOTENV
.env
.env.dev
.env.prod
.env.develop
.env.development
.env.production

#Dev
images
tests

#Binaries
Command Makefile
b4a.exe
mkf.exe
*.txt

#PSDocs
PS Docs/.~lock*
PS Docs/*.pdf
PS Docs/*.txt

#VSCode
.vscode/launch.json

#Assets that are either not safely redistributable or not worth the risk (sorry, you'll have to remake these emojis yourself)
assets/fonts/*.ttf
assets/fonts/*.otf
assets/icons/sites/siteFg/twitterColor.*
assets/icons/sites/siteFg/gdriveColor.*
assets/icons/sites/siteFg/redditColor.*
assets/icons/sites/siteFg/patreonColor.*
assets/icons/sites/siteFg/youtubeColor.*
assets/icons/sites/siteFg/instagramColor.*
assets/icons/sites/siteFg/nitterColor.*
assets/icons/sites/whiteFg
assets/icons/sites/pixivWhiteOld.*
assets/icons/sites/twitterWhiteOld.*
assets/icons/hero/commandTags
