#NodeJS
node_modules

#DOTENV
.env

#ENVs artificiales
localenv.json
remoteenv.json

#Dev
images
tests

#Binarios
Command Makefile
b4a.exe
mkf.exe
*.txt

#PSDocs
PS Docs/.~lock*
PS Docs/*.pdf
PS Docs/*.txt

#VSCode
.vscode/launch.json

#FUENTES porque quizá no querés problemas legales
fonts
