@import 'tailwindcss';

@layer base {
  :root {
    --color-background: #ffffff;
    --color-foreground: #171717;
    --color-primary: #608cf3;
    --color-secondary: #b2c0d4;
    --color-accent: #bf94e4;

    --color-discord: #5765f2;
  }

  .theme-dark {
    --color-background: #151b1d;
    --color-foreground: #ededed;
    --color-primary: #608cf3;
    --color-secondary: #2c2f33;
    --color-accent: #bf94e4;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground overflow-x-clip transition-colors;
  }
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-discord: var(--color-discord);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility animation-delay-* {
  animation-delay: --value(integer) ms;
  -o-animation-delay: --value(integer) ms;
  -moz-animation-delay: --value(integer) ms;
  -webkit-animation-delay: --value(integer) ms;
}
