@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-background text-foreground overflow-x-clip transition-colors;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #608cf3;
  --primary-foreground: #fafafa;
  --secondary: #b2c0d4;
  --secondary-foreground: #171717;
  --accent: #ab7cd4;
  --accent-foreground: #171717;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --muted: #f5f5f5;
  --muted-foreground: #737373;

  --discord: #5765f2;

  --radius: 0.625rem;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --destructive: #e7000b;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #a1a1a1;
  --chart-1: #f54900;
  --chart-2: #009689;
  --chart-3: #104e64;
  --chart-4: #ffb900;
  --chart-5: #fe9a00;

  --sidebar: #fafafa;
  --sidebar-foreground: #0a0a0a;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
}

.dark {
  --background: #151b1d;
  --foreground: #ededed;
  --primary: #608cf3;
  --primary-foreground: #fafafa;
  --secondary: #2c2f33;
  --secondary-foreground: #e8e8e8;
  --accent: #bf94e4;
  --accent-foreground: #fafafa;
  --popover: #171717;
  --popover-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;

  --card: #171717;
  --card-foreground: #fafafa;
  --destructive: #ff6467;
  --border: lch(100% 0.01 296.81 / 10%);
  --input: lch(100% 0.01 296.81 / 15%);
  --ring: #737373;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: #fe9a00;
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: lch(100% 0.01 296.81 / 10%);
  --sidebar-ring: #737373;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-discord: var(--discord);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@utility animation-delay-* {
  animation-delay: --value(integer) ms;
  -o-animation-delay: --value(integer) ms;
  -moz-animation-delay: --value(integer) ms;
  -webkit-animation-delay: --value(integer) ms;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
